---
layout: default
---

<div class="projects-page">
  <div class="container">
    <h1 class="projects-title">Projects</h1>


    <a href="https://bbeat2782.github.io/nba-analysis/index.html" class="project-card-link">
      <div class="project-card">
        <div class="project-card-media">
          <img src="{{ '/assets/img/graph-project.png' | relative_url }}">
        </div>
        <div class="project-card-body">
          <h2>NBA Player Interaction Network Analysis</h2>
          <p>
            This was the final project for my Network Theory class. 
            My partner and I chose to analyze the assist networks of all NBA players from 2001-2024, using data obtained with NBA API.
            These network visualizations can be filtered to specific teams, or all NBA players over a single year.
            Hovering a node shows player-specific statistics.
          </p>
        </div>
      </div>
    </a>


    <a href="https://summer-internships-rds-inte-git-de63f9-alexanderyoza1s-projects.vercel.app" class="project-card-link">
      <div class="project-card">
        <div class="project-card-media">
          <img src="{{ '/assets/img/zelp-project.png' | relative_url }}">
        </div>
        <div class="project-card-body">
          <h2>Zelp</h2>
          <p>
            A Yelp-inspired social web app for university students.
            This was a 10-week project for the San Diego Supercomputing Center summer 2024 internship.
            I collaborated with 5 other undergraduate UCSD students to learn about the Agile development process,
            working all over the front- and back-end. 
          </p>
        </div>
      </div>
    </a>


    <!-- <a href="https://your-project-url.com" class="project-card-link">
      <div class="project-card">
        <div class="project-card-media">
          <img src="{{ '/assets/img/background.png' | relative_url }}">
        </div>
        <div class="project-card-body">
          <h2>Project title</h2>
          <p>
            Description

          </p>
        </div>
      </div>
    </a> -->



  </div>
</div>